.custom-stepper-container {
  display: flex;
}

.steps-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #e9f0fe;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: 90vh;
  // pointer-events: none;
}

.step-item {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 20px 0 20px 40px; // increased padding for taller steps
  cursor: pointer;
}

.step-item:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 54px;
  top: 40px;
  width: 2px;
  height: calc(100% - 19px);
  background-color: #ccc;
  z-index: 1;
}

.step-item.active::after,
.step-item.completed::after {
  background-color: var(--primary-color);
}

.step-indicator {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
}

.step-number {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-item.active .step-number,
.step-item.completed .step-number {
  background-color: var(--primary-color);
  color: white;
}

.step-item.active .step-number {
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border: 4px solid rgb(166, 186, 253);
}

.step-label {
  font-size: 15px;
  font-weight: 500;
  padding-top: 4px;
}








.steps-list-edit {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #e2e0e0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: 90vh;
  font-size: larger;
  // pointer-events: none;
}

.step-item-edit {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 12px 0 12px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;

  &:hover {
    background-color: #989898;
  }
}

.step-item-edit.active::after {
  background-color: var(--primary-color);
}

.step-item-edit.completed::after {
  background-color: var(--success-color);
}

.step-label-edit {
  font-size: 14px;
  padding: 4px 10px 0 10px;

}









.step-content {
  flex: 1;

  padding: 5px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}


.custom-file-upload-img {
  height: 110px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 8px 16px;
  margin: 10px 25px;
  cursor: pointer;
  background-color: #c3d0e1;
  color: rgb(4, 2, 2);
  border-radius: 100%;
  font-size: 14px;
  transition: background-color 0.3s ease;
  border: 2px dashed rgb(5, 54, 200);
  text-transform: uppercase;
}

.image-preview {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

.initials-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: xx-large;
  font-weight: 900;
  color: #3f51b5;
}


.custom-file-upload-img:hover {
  background-color: #b2d1f9;
}

.custom-file-upload-img input[type="file"] {
  display: none;
}

.profile-upload-icon-img {
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: #3f51b5;
}

.preview-img {
  display: block;
  margin-top: 10px;
  max-height: 120px;
  border-radius: 8px;
  border: 1px solid #ccc;
}



.lang {
  width: 100%;
}

.required {
  color: red;
}

.custom-file-upload {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #c3d0e1;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  border: 3px dashed rgb(251, 124, 124);

}

// .custom-file-upload {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   padding: 12px;
//   border-radius: 8px;
//   cursor: pointer;
//   transition: background-color 0.3s;
// }



.custom-file-upload:hover {
  background-color: #e0e0e0;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.kyc-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: #3f51b5;
}

.error small {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.error-e small {
  color: red;
  font-size: 12px;
}

.file-name {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}


.error {
  color: red;
  margin-top: -20px;
  margin-bottom: 10px;

  .radio {
    margin-top: 50px;
  }
}





.review-section-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

.section-title-with-line {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.section-title-with-line h4 {
  margin: 0;
  white-space: nowrap;
  color: gray;
  font-weight: bold;
}

.section-title-with-line .line {
  flex: 1;
  height: 1px;
  background-color: rgb(187, 187, 187);
}


.review-item {
  display: flex;

  p,
  img,
  a {
    margin: 0;
  }

  img {
    max-width: 100%;
    border-radius: 4px;
  }
}

.review-item {
  display: flex;
  align-items: baseline; // aligns text nicely
  margin-bottom: 2px;
}

.review-key {
  width: 200px;
  color: gray;
  font-size: small;
  font-weight: 500;
  margin: 0;
}

.review-value {
  flex: 1;
  margin: 0;
}


.last-step-action {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}