.custom-form-field {
  width: 100%;
  .mat-form-field-outline {
    border-radius: 6px;
  }

  .mat-icon {
    color: #757575;
    margin-right: 4px;
  }

  .custom-select {
    font-size: 14px;
  }
}
